apple/sqlite3Demo/sqlite3Demo.xcodeproj/project.xcworkspace/xcuserdata/cortxu.xcuserdatad/UserInterfaceState.xcuserstate
apple/sqlite3Demo/sqlite3Demo.xcodeproj/project.xcworkspace/xcuserdata/cortxu.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
.gradle
.idea
